body{
    font-family: 'Courgette', cursive;;
}
.top-menu{
    font-size: 25px;
    color: black;
}
.top-menu ul{
    list-style: none;
    margin-right: 10%;
}
.top-menu li{
    float: right;
    margin: 0px 10px 0px 10px;
    padding: 5px 60px 5px 0px;
}
.top-menu a{
    text-decoration: none;
    color: black;
    font-family: 'Play', sans-serif;
}
#my-world{
    color: blueviolet;
}
#my-name{
    color: coral;
}
#welcome{
    font-size: 40px;
}
#intro-name{
    font-size: 30px;
}
.introduction{
    width: 40%;
    float: left;
    padding-left: 6%;
    padding-top: 5%;
    text-align: justify;
}
.top-image{
    width: 100%;
}
.hire{
    text-decoration: none;
    background-image: linear-gradient(45deg, #e21fb1, #ffaa0d);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: palegoldenrod;
    line-height: 4;
}
#teenage-boy{
    width: 100%;
}
#about{
    font-size: 30px;
}
#download-btn{
    background-image: linear-gradient(60deg, rgb(206, 255, 93), rgb(34, 255, 27));
    padding: 10px 15px;
    text-decoration: none;
}